<template>
  <div>
    <div class="container is-max-desktop">
      <div>
        <h1 class="title mt-6">
          Modifier un participant
        </h1>
      </div>
      <div class="mt-6">
        <b-field label="Name">
          <b-input v-model="name" />
        </b-field>
        <p>
          Selectionnez la BlackList :
        </p>
        <div
          v-for="user in users"
          :key="user.id"
        >
          <b-field>
            <b-checkbox
              v-model="blacklist"
              :native-value="user.id"
            >
              {{ user.name }}
            </b-checkbox>
          </b-field>
        </div>
      </div>
      <div class="has-text-right">
        <b-button
          type="is-primary"
          @click="createUser()"
        >
          Modifier 
        </b-button>
      </div>
    </div>
  </div>
</template>




<script>
const axios = require('axios');
export default {
  name: "EditUser",
  components: {},
  data(){
    return {users:[], blacklist:[], name:''}
  },
    created(){ 
      axios.get('http://localhost:3000/users')
        .then(response => {
          this.users=response.data
          const id = this.$route.params.id 
          const user = this.users.find(user => user.id == id)
          this.name = user.name
          this.blacklist = user.blacklist
        })
  },
  methods:{
    createUser(){
      const name = this.name
      const blacklist = this.blacklist
      const id = this.$route.params.id 
      let user = {name, blacklist }
      axios.put('http://localhost:3000/users/' + id, user)
      this.$router.push("/")
    }
  }
};
</script>

<style>
.is-fullheight{
  height: 100%;
}
</style>
