<template>
  <div id="app">
    <div class="container is-max-desktop">
      <div class="mt-6 is-flex is-align-items-center is-justify-content-space-between">
        <h1 class="title mb-6 ">
          Historique des derniers tirages
        </h1>
      </div>
    
      <div
        v-for="(giftList, index) in giftLists"
        :key="'giftlist' + index "
        class="notification"
      >
        <div
          v-for="gift in giftList"
          :key="'gift_'+ gift.giverId"
        >
          <gift-item
            :giver="getUserById(gift.giverId)"
            :receiver="getUserById(gift.receiverId)"
          />
        </div>
      </div>
    </div>
  </div>
</template>





<script>
import GiftItem from '../components/giftItem.vue';
import userItem from '../components/userItem.vue';
const axios = require('axios');
export default {
  name: "Historique",
  components: { GiftItem },
  data(){
    return { users:[], giftLists:[]}
  },
  created(){
    this.getUsers()
    this.getGiftlist()
  },
  methods:{
    getGiftlist(){
      axios.get('http://localhost:3000/giftlists')
      .then(response => {
        if(response.data.length > 5){
          this.giftLists=response.data.slice(1).slice(-5)
        } else {
          this.giftLists=response.data
        }
        
      })
    },
    getUsers(){
      axios.get('http://localhost:3000/users')
      .then(response => {
        this.users=response.data
      })
    },
      getUserById(id){
      return this.users.find(user => user.id === id)
    }

  }

};
</script>

<style>
.is-fullheight{
  height: 100%;
}
</style>
