<template>
  <div id="app">
    <div class="container is-max-desktop">
      <div class="mt-6 is-flex is-align-items-center is-justify-content-space-between">
        <h1 class="title ">
          Participants
        </h1>
        <b-button
          type="is-primary"
          tag="router-link"
          to="/NewUser"
        >
          Ajouter 
        </b-button>
      </div>
      <div class="columns is-multiline mt-4"> 
        <div
          v-for="user in users"
          :key="user.id"
          class="column is-one-third"
        >
          <user-item
            :user="user"
            :blacklist="getUsersByIds(user.blacklist)"
            class="is-fullheight"
            @delete="getUsers()" 
          />
        </div>
      </div>
      <div class="has-text-right">
        <b-button
          type="is-primary"
          @click="generateGiftList()"
        >
          Tirage
        </b-button>
        <b-button
          type="is-primary"
          to="/Historique"
          tag="router-link"
          class="mx-3"
        >
          5 derniers tirages
        </b-button>
      </div>
      <div
        v-if="giftList.length>0"
        class="notification mt-3"
      >
        <div
          v-for="gift in giftList"
          :key="'gift_'+ gift.giverId"
        >
          <gift-item
            :giver="getUserById(gift.giverId)"
            :receiver="getUserById(gift.receiverId)"
          />
        </div>
      </div>
    </div>
  </div>
</template>




<script>
import GiftItem from '../components/giftItem.vue';
import userItem from '../components/userItem.vue';
const axios = require('axios');
export default {
  name: "App",
  components: { userItem, GiftItem },
  data(){
    return {users:[], giftList:[]}
  },
  created(){
    this.getUsers()
  },
  methods:{
    generateGiftList(){
      this.giftList = []
      let remainingIds = this.users.map(user => user.id)
      for(const user of this.users){
        let filteredIds = remainingIds.filter(filteredId => filteredId !== user.id)
        filteredIds = filteredIds.filter(filteredId => !user.blacklist.includes(filteredId)) 
        const receiverId = filteredIds[Math.floor(Math.random() * filteredIds.length)]
        remainingIds = remainingIds.filter(remainingId => remainingId !== receiverId)
        if(receiverId===undefined){ //pour ne plus avoir l'erreur du dernier qui s'offre à lui même
          this.generateGiftList()
        } else{
          this.giftList.push({giverId: user.id, receiverId})
        }
      }
      axios.post('http://localhost:3000/giftLists', this.giftList)
    
    },
    getUserById(id){
      return this.users.find(user => user.id === id)
    },
    getUsersByIds(ids){
      return this.users.filter(user => ids.includes(user.id))
    },
    getUsers(){
      axios.get('http://localhost:3000/users')
      .then(response => {
        this.users=response.data
      })
    }

  }

};
</script>

<style>
.is-fullheight{
  height: 100%;
}
</style>
