<template>
  <div>
    <div>
      <p class=" is-4">
        {{ giver.name }} offre à 
        {{ receiver.name }}
      </p>
    </div>
  </div>
</template>







<script>

export default {
  name: "GiftItem",
  props:['giver','receiver']
  
};
</script>





<style>
</style>
