<template>
  <div class="card">
    <div class="card-content">
      <div>
        <div class="is-flex  is-justify-content-space-between">
          <p class="title is-4">
            {{ user.name }}
          </p>
          <div>
            <router-link :to="'/EditUser/' + user.id">
              <i
                class="fas fa-pen mr-2 has-text-link"
              />
            </router-link>

            <i
              class="fa fa-trash has-text-danger"
              @click="deleteUser(user.id)"
            />
          </div>
        </div>
       
        <p class="has-text-weight-bold">
          BlackList :
        </p>
        <p
          v-if="!blacklist.length"
          class="is-italic is-size-7	has-text-grey"
        >
          La blacklist de ce participant est vide.
        </p>
        <p
          v-for="blacklistUser in blacklist"
          :key="'user' + blacklistUser.id"
        >
          {{ blacklistUser.name }}
        </p>
      </div>
    </div>
  </div>
</template>





<script>
const axios = require('axios');
export default {
  name: "UserItem",
  props:['user', 'blacklist'],
  methods:{
    deleteUser(userId){
      axios.delete('http://localhost:3000/users/' + userId)
      this.$emit('delete')
    }
  }
}
</script>





<style>
</style>
