<template>
  <div
    id="app"
    class="pb-6"
  >
    <b-navbar class="has-background-primary">
      <template #brand>
        <b-navbar-item class="has-text-white">
          Secret santa
        </b-navbar-item>
      </template>
    </b-navbar>
    <div>
      <router-view />
    </div>
  </div>
</template>



<script>
export default {
  name: "App",
  methods:{
  }

};
</script>

<style>
</style>
